<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eutmp.app.mapper.TrainMaterialUseMapper">
    
    <resultMap id="BaseResultMap" type="com.eutmp.app.bean.TrainMaterialUse">
        <id column="id" property="id"/>
        <result column="plan_id" property="planId"/>
        <result column="material_id" property="materialId"/>
        <result column="use_num" property="useNum"/>
        <result column="use_user" property="useUser"/>
        <result column="use_date" property="useDate"/>
        <result column="use_remark" property="useRemark"/>
        <result column="create_time" property="createTime"/>
        <result column="plan_name" property="planName"/>
        <result column="material_name" property="materialName"/>
        <result column="use_user_name" property="useUserName"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        mu.id, mu.plan_id, mu.material_id, mu.use_num, mu.use_user, mu.use_date, mu.use_remark, mu.create_time, p.plan_name as plan_name, m.material_name as material_name, u.username as use_user_name
    </sql>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM train_material_use mu LEFT JOIN train_plan p ON mu.plan_id = p.id LEFT JOIN train_material m ON mu.material_id = m.id LEFT JOIN sys_user u ON mu.use_user = u.id WHERE mu.id = #{id}
    </select>
    
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM train_material_use mu LEFT JOIN train_plan p ON mu.plan_id = p.id LEFT JOIN train_material m ON mu.material_id = m.id LEFT JOIN sys_user u ON mu.use_user = u.id
        <where>
            <if test="planId != null">AND mu.plan_id = #{planId}</if>
            <if test="materialId != null">AND mu.material_id = #{materialId}</if>
        </where>
        ORDER BY mu.create_time DESC
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO train_material_use (plan_id, material_id, use_num, use_user, use_date, use_remark, create_time)
        VALUES (#{planId}, #{materialId}, #{useNum}, #{useUser}, #{useDate}, #{useRemark}, #{createTime})
    </insert>
    
    <update id="update">
        UPDATE train_material_use
        <set>
            <if test="planId != null">plan_id = #{planId},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="useNum != null">use_num = #{useNum},</if>
            <if test="useUser != null">use_user = #{useUser},</if>
            <if test="useDate != null">use_date = #{useDate},</if>
            <if test="useRemark != null">use_remark = #{useRemark},</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById">DELETE FROM train_material_use WHERE id = #{id}</delete>
    
    <delete id="deleteByIds">
        DELETE FROM train_material_use WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">#{id}</foreach>
    </delete>
    
</mapper>
